@import "~antd/lib/style/themes/default.less";
@import "../../services/utils/utils.less";

.cardList {
  margin-top: 20px;

  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 0px;
        font-family: "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        & > a {
          color: @heading-color;
        }
      }
      .ant-card-meta-description {
        font-size: 0.8em;
      }
      .ant-card-cover{
        float: right;
      }
      .ant-card-actions {
        background: #f7f9fa;
      }
      .ant-card-body {
        margin-top: 52px;
        padding-left: 22px;
        padding-right:22px;
        padding-top: 0px;
      }
      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }
}
.filterClients {
  width: 15em;
}

.extraImg {
  margin-top: -60px;
  text-align: center;
  width: 195px;
  img {
    width: 100%;
  }
}

.newButton {
  background-color: #fff;
  border-color: @border-color-base;
  border-radius: @border-radius-sm;
  color: @text-color-secondary;
  width: 100%;
  height: 154px;
}

.cardAvatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.cardDescription {
  .textOverflowMulti();
}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 0px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
}


@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
