@import "~antd/lib/style/themes/default.less";
@import "../../services/utils/utils.less";


.pageHeaderContent {
  position: relative;
}

.actionToolbar {
  margin-bottom: 1em;
  text-align: right;
}
