/* use css to set position of modal */
.verticalCenterModal {
  top: 0px;
  white-space: nowrap;
}

.verticalCenterModal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.verticalCenterModal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

/*
// Use flex which not working in IE
.verticalCenterModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalCenterModal .ant-modal {
  top: 0;
}
*/
